# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r
language: R
sudo: required
dist: trusty
cache:
  - packages
  - ccache
latex: false

apt_packages:
  - libudunits2-dev
  - libproj-dev
  - libgeos-dev
  - libspatialite-dev
  - libgdal-dev

r:
  #- oldrel
  - release
  - devel

r_packages:
  - devtools
  - R6
  - XML
  - sf
  - testthat
  - covr

r_check_args: --as-cran

after_script:
 - ./travis-tool.sh dump_logs

after_success:
  - Rscript -e 'library(covr); codecov()'

notifications:
  email:
    on_success: change
    on_failure: change
